<!DOCTYPE html>
<html>
    <head>
        {% block title %}<title>Timetable</title>{% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:100,300,400" rel="stylesheet">
         {% load static %}
        <link rel="stylesheet" href="{% static 'css/timetable.css' %}">

        <meta charset="utf-8">
    </head>
    <body>
        <div class="page-header container-fluid">

            <div class="row">
                {% if user.is_authenticated %}
                <a href="{% url 'logout'%}?next={{request.path}}" class="top-menu pull-right"><span class="glyphicon glyphicon-off"></span></a>
                 <span class="top-menu pull-right">&nbsp;</span>
                {% else %}
                <a href="{% url 'login'%}?next={{request.path}}" class="top-menu pull-right"><span class="glyphicon glyphicon-lock"></a>
                {% endif %}
                <p class="top-menu pull-right">{{ user.get_username | capfirst }}</p>
                <a href="{% url 'home' %}" class="top-menu pull-left">Главная</a>
                <a href="{% url 'mechanics' %}" class="top-menu pull-left">Список механиков</a>
                <a href="{% url 'months' %}" class="top-menu pull-left">График работы за месяц</a>
                <a href="{% url 'time_table' %}" class="top-menu pull-left">График работы за год</a>
            </div>

            <div class="row">
                <!--<h1 class="col-sm-12"><a href="{% url 'home' %}">Главная</a></h1>-->
            </div>
            {% block head_page %}
            {% endblock %}
        </div>

        <div class="container">
                <div class="row">
                    <div class="col-md-16 col-md-offset-1">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
        </div>
    </body>
    <footer>
        <div class="panel-footer">
            <div class="row">
                {% if perms.TimeTable.can_add_mechanic and perms.TimeTable.can_add_month and perms.TimeTable.can_add_mod_timetable%}
                {% block footer %}

                    <a href="{% url 'add_mechanic' %}" class="top-menu pull-right">Добавить механика</a>
                    <a href="{% url 'choose_month' %}" class="top-menu pull-right">Добавить месяц</a>
                    <a href="{% url 'create_timetable' %}" class="top-menu pull-right">Создать график</a>

                {% endblock %}
                {% endif %}
            </div>
        </div>
    </footer>
</html>