{% extends 'base.html' %}

{% block content %}
    <h2 class="text-left">Создание графика</h2>
    {% if e in form.non_field_erorrs %}
        <div class="alert alert-danger">{{ e }}</div>
    {% endif %}
    <form method="POST" action="{% url 'create_timetable' %}" class="form-horizontal">{% csrf_token %}
        {{ create_timetable.as_p }}
        <!--<fieldset>-->
            <!--{% for field in create_timetable.visible_fields %}-->
                <!--<div class="form-group" {% if field.errors %} has-error {% endif %}>-->
                    <!--<label class="col-sm-2 control-label" >{{ field.label }}</label>-->
                    <!--<div class="controls">{{ field }}</div>-->
                    <!--{% for error in form.errors.field %}-->
                        <!--<span class="help-block text-danger">-->
                        <!--{{ error }}-->
                        <!--</span>-->
                    <!--{% endfor %}-->
                <!--</div>-->
            <!--{% endfor %}-->
        <!--</fieldset>-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class="btn btn-primary">сохранить</button>

            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}

