{% extends 'base.html' %}

{% block head_page %}
<h1>График работы механической службы в {{month_name}}</h1>
{% endblock %}

{% block content %}
<table width="105%">
    <tr>
        <td></td>
        {% for day in days %}
        <td align="center"><b>{{day}}</b></td>
        {% endfor %}
    </tr>
    {% for table in table_list %}
    <tr>
        <td class="leftcol">
            {% with table.3 as mech_id %}
            {% with table.0 as name %}
            <a href="{% url 'mechanic_info' mechanic_id=mech_id mechanic_name=name%}">{{ name }}</a>
            {% endwith %}
            {% endwith %}
        </td>
            {% with table.1 as timetable %}
            {% for item in timetable %}
            <td id='rightcol' align="center" {% if item == 0 %} bgcolor="#ccc" {% endif %}>{{item}}</td>
            {% endfor %}
            {% endwith %}

            {% with table.2 as timetable_id %}
            <td id="thirdcol" align="center">
                {% if perms.TimeTable.can_add_mod_timetable %}
                    <a href="{% url 'mod_timetable' timetable_id=timetable_id %}">
                    <span class="glyphicon glyphicon-edit"></span></a>
                {% endif %}
            </td>
            {% endwith %}
    </tr>
    {% endfor %}

</table>

{% endblock %}