{% extends 'mechanics.html' %}

{% block content %}
    <h3><b>{{mechanic.name}} {{mechanic.surname}}</b>
        {% if perms.TimeTable.can_add_mod_mechanic %}
        <a href="{% url 'mod_mechanic' mechanic_id=mechanic.id%}"><span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
    </h3>

    <p><b>Табельнй номер:</b> {{mechanic.timetable_number}}</p>
    <p><b>Контактный телефон:</b> {{mechanic.phone}}</p>
    <p><b>Домашний адрес:</b> {{mechanic.address}}</p>
    <!--{% if post.image %}-->
    <!--<img src="{{ mechanic.image.url }}">-->
    <!--{% endif %}-->

    <table width="100%">

        {% for table in mech_list %}
        <tr>
            <td></td>
            {% with table.2 as days %}
                {% for item in days %}
                <td align="center" class="days">
                    <b>{{item}}</b>
                </td>
                {% endfor %}
            {% endwith %}
        </tr>
        <tr>
            <td id="leftcol" align="center">
                {% with table.3 as month_id %}
                {% with table.0 as month %}
                    <a href="{% url 'month_info' month_id=month_id month_name=month%}" class="month"><b>{{ month }}</b></a>
                {% endwith %}
                {% endwith %}
            </td>

            {% with table.1 as timetable %}
                {% for item in timetable %}
                <td id='rightcol' align="center" {% if item == 0 %} bgcolor="#ccc" {% endif %}>
                    {{item}}
                </td>
                {% endfor %}
            {% endwith %}
        </tr>
        {% endfor %}

    </table>

{% endblock %}

{% block footer %}

{% endblock %}


