<!DOCTYPE html>
<html>
<head>
    <title>Books in library</title>
</head>
<body>
    <ol>
    {% for book in books %}
        <li><a href="{% url 'book_info' book_id=book.id %}"> {{book.title}}</a>
            <!--{% for author in book.author.all %}-->
            <!--автор <a href="{% url 'author_info' author_id=author.id %}"> {{author.name}} {{author.surname}}</a>-->
            <!--{% endfor %}-->
        </li>
        {% endfor %}
    </ol>
    <p><a href="{% url 'add_book_button' %}">добавить книгу</a>  <a href="{% url 'add_author_button' %}">добавить автора</a></p>
</body>
</html>

